<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Mi historial
    </ion-title>
  </ion-toolbar>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-label>Compraste en tiendas Metro</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Compraste en tiendas Ara</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Has creado una lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Compraste en Tiendas Metro</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Compraste en Falabella</ion-label>
  </ion-item>
</ion-list>  


</ion-content>
